@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**************** HEADER *****************/
header {
  justify-content: space-evenly;
  font-family: 'Bebas Neue', cursive;
  padding: 15px;
  background-color: black;
  display: flex;
}
header div:nth-child(2) {
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 50px;
  text-align: center;
  background-color: #1f1c28;
}
header h1 {
  color: white;
  font-size: 6rem;
  letter-spacing: 2px;
  margin: 0;
}
header h2 {
  color: #29a9df;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

header img {
  margin: 0;
  padding: 20px 0 0 0;
  width: 200px;
}

/**************** ARTICLE *****************/
article {
  display: flex;
  padding: 15px;
  background-color: white;
}
section {
  flex: 1 1 0;
}

section:nth-child(1) {
  margin-right: 10px;
}
section:nth-child(2) {
  margin-left: 10px;
}
section div {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
section h3 {
  color: #0170ba;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 0;
}
section h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
}
.code {
  background-color: black;
  color: #ffa500;
  border-radius: 15px;
  padding: 12px;
}
.code span {
  display: block;
  padding-left: 25px;
}

/**************** FOOTER *****************/
footer {
  background-color: black;
  padding: 30px;
}
footer p {
  color: #ccc;
  text-align: center;
  flex-direction: 1rem;
  font-style: italic;
}

/**************** ARTICLE *****************/



@media screen and (max-width: 800px) {

  /************** HEADER *************/
  header {
   flex-direction: column;
   align-items: center;
  }
  header div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    border-radius: 25px;
    width: 90%;
    text-align: center;
    background-color: #1f1c28;
  }
  header h1 {
    font-size: 4rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header img {
    padding: 10px 0;
  }

  /****************** ARTICLE *****************/
  article {
    flex-direction: column;
    padding: 0;
  }
  section:nth-child(1) {
    margin-right: 0;
  }
  section:nth-child(2) {
    margin-left: 0;
  }
}
